body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A235A; /* Couleur prune foncée */
    background-image: url('sock_texture.jpg');
    background-size: cover; /* Assure que l'image couvre toute la zone sans distorsion */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

#loading-screen {
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ajustez selon vos besoins */
}

#loading-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#percentage {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #FFF;
    font-weight: bold;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Pour rendre le texte responsive */
@media (max-width: 480px) {
    #percentage {
        font-size: 18px;
    }
}
